@import "../_shared/theme";

.container {
  align-items: center;
  display: flex;
}

.content {
  flex: 1;
}

.title {
  align-items: flex-start;
  display: flex;
  margin: 0;

  span {
    flex: 1;
  }

  em {
    @include font("space mono");
    color: $greyD3;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0;

    @include media(sm) {
      display: none;
    }
  }
}

.subtitle {
  color: $greyD3;
  margin: 5px 0 0 0;
}

.imageContainer {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  border-radius: $border-radius;
  align-self: flex-start;
  margin-right: 1rem;
  border-radius: $border-radius;
  width: 12rem;
  height: 8rem;

  @include media(sm) {
    display: none;
  }
}

.image {
  border: 0.1rem solid $greyF0 !important;
  transition: border 250ms;
  border-radius: $border-radius;
  width: 12rem;
  height: 8rem;
}

.imageLink {
  @include no-hover;

  &:hover .image {
    border-color: $blue18 !important;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 0 0;

  @include media(sm) {
    display: none;
  }
}

.tag {
  background: $greyF0;
  border: 1px solid $greyD3;
  border-radius: $border-radius;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0.3rem 0.3rem 0 0;
  padding: 0.1rem 0.3rem;
}

.linkContainer {
  display: flex;
  justify-content: flex-end;
}

.link {
  display: inline-grid;
  grid-auto-flow: column;
  grid-column-gap: 0.25rem;
  justify-items: center;
}
