@import "../_shared/theme";

.container {
  align-items: center;
  display: flex;
}

.content {
  flex: 1;
}

.title {
  align-items: flex-start;
  display: flex;
  margin: 0;

  span {
    flex: 1;
  }

  em {
    @include font("space mono");
    color: $greyD3;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0;

    @include media(sm) {
      display: none;
    }
  }
}

.subtitle {
  color: $greyD3;
  margin: 5px 0 0 0;
}

.imageContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 15px;

  @include media(sm) {
    display: none;
  }
}

.image {
  border: 1px solid $greyF0;
  border-radius: 4px;
  transition: border 250ms;
  width: 150px;
}

a .image:hover {
  border: 1px solid $blue18;
}

.imageLink {
  @include no-hover;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 0 0;

  @include media(sm) {
    display: none;
  }
}

.tag {
  background: $greyF0;
  border: 1px solid $greyD3;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0.3rem 0.3rem 0 0;
  padding: 0.1rem 0.3rem;
}
