@import "../../pages/variables";
@import "../../pages/mixins";

.nav {
  align-items: center;
  border-bottom: 2px dashed $greyF0;
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 15px;

  & > :first-child {
    flex: 1;
  }
}

.avatarLink {
  @include no-hover;
  align-items: center;
  display: flex;

  span {
    color: $grey3D;
    margin-left: 15px;

    @include media(sm) {
      display: none;
    }
  }
}

.avatar {
  border-radius: 50%;
  height: 48px;
  width: 48px;

  @include media(sm) {
    height: 32px;
    width: 32px;
  }
}

.link {
  margin-left: 20px;
}
