@import '../../pages/variables';
@import '../../pages/mixins';

.container {
  display: flex;
  align-items: center;
}

.content {
  flex: 1;
}

.title {
  display: flex;
  align-items: flex-start;
  margin: 0;

  span {
    flex: 1;
  }

  em {
    @include font('space mono');
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0;
    color: $greyD3;

    @include media(sm) {
      display: none;
    }
  }
}

.subtitle {
  margin: 5px 0 0 0;
  color: $greyD3;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;

  @include media(sm) {
    display: none;
  }
}

.image {
  width: 150px;
  border: 1px solid $greyF0;
  border-radius: 4px;
  transition: border 250ms;

  &:hover {
    border: 1px solid $blue18;
  }
}

.imageLink {
  @include no-hover;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 0 0;

  @include media(sm) {
    display: none;
  }
}

.tag {
  font-size: 0.8rem;
  padding: 0.1rem 0.3rem;
  background: $greyF0;
  font-weight: 400;
  border: 1px solid $greyD3;
  border-radius: 0.2rem;
  margin: 0.3rem 0.3rem 0 0;
}

