@import "../../pages/variables";
@import "../../pages/mixins";

.title {
  align-items: flex-start;
  display: flex;
  margin: 30px 0 0 0;

  span {
    flex: 1;
  }

  em {
    @include font("space mono");
    color: $greyD3;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0;

    @include media(sm) {
      display: none;
    }
  }
}

.company {
  color: $greyD3;
  margin: 5px 0 0 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 30px 0;

  @include media(sm) {
    display: none;
  }
}

.tag {
  background: $greyF0;
  border: 1px solid $greyD3;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0.3rem 0.3rem 0 0;
  padding: 0.1rem 0.3rem;
}
