@import '../../pages/variables';
@import '../../pages/mixins';

.footer {
  display: flex;
  font-size: 0.9rem;

  @include media(sm) {
    flex-direction: column;
  }
}

.recruit {
  display: flex;
  flex-direction: column;
  @include no-hover;
}

.available {
  font-size: 0.8rem;
  color: $greyD3;
  @include font('space mono');
}

.status {
  margin-left: 5px;
  width: 8px;
  fill: $green52;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.social {
  margin: 0 5px;
  text-align: center;
}

.separator {
  color: $greyD3;
  @include font('space mono');
  margin-bottom: 1px;
}
