@import '../../pages/variables';
@import '../../pages/mixins';

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.9rem;

  a {
    margin: 0 5px;
    text-align: center;
  }

  span {
    color: $grey-d;
    @include font('space mono');
    margin-bottom: 1px;
  }
}
