@import "../../pages/variables";
@import "../../pages/mixins";

.footer {
  display: flex;
  font-size: 0.9rem;

  @include media(sm) {
    flex-direction: column;
  }
}

.recruit {
  display: flex;
  flex-direction: column;
  @include no-hover;
}

.available {
  color: $greyD3;
  font-size: 0.8rem;
  @include font("space mono");
}

.status {
  fill: $green52;
  margin-left: 5px;
  width: 8px;
}

.socials {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.social {
  margin: 0 5px;
  text-align: center;
}

.separator {
  color: $greyD3;
  margin-bottom: 1px;
  @include font("space mono");
}
