@import './variables';
@import './mixins';

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono'), local('SpaceMono-Regular'), url(/static/fonts/SpaceMono-Regular.woff2), url(https://fonts.gstatic.com/s/spacemono/v4/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(/static/fonts/Quicksand-Regular.woff2), url(https://fonts.gstatic.com/s/quicksand/v9/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  @include font(quicksand);
  margin: 15px 0;
  padding: 0;
  color: $grey3D;
  overflow-y: scroll;
}

a {
  color: $blue18;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 250ms;

  &:hover {
    border-bottom: 1px solid $blue18;
  }

  svg {
    margin-right: 4px;

    > path {
      fill: $blue18;
    }
  }
}

p {
  font-size: 1.2em;
  line-height: 1.7em;
  margin: 30px 0;
}

li {
  font-size: 1.1em;
  line-height: 1.7em;
  list-style-type: square;
}

pre {
  padding: 15px !important;
  border-radius: 0.2em;
}

code {
  @include font('space mono');
  font-size: 0.9em;
}

:not(pre) > code {
  background: $greyF0;
  padding: 0.1em 0.3em;
}

h2, h3, h4, h5, h6 {
  margin: 30px 0;
}

hr {
  border: 0;
  border-top: 2px dashed $greyF0;
  height: 0;
  padding: 0;
  margin: 30px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}

td, th {
  border: 1px solid $greyF0;
  padding: 5px 10px;
}

.container {
  width: 100%;
  max-width: 48em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  @include media(md) {
    max-width: 42em;
  }
}
