@import "../../pages/variables";
@import "../../pages/mixins";

.back {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-right: 5px;
  @include no-hover;

  @include media(sm) {
    display: none;
  }
}

.title {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 30px 0;

  @media (min-width: 576px) {
    align-items: center;
    flex-direction: row;
    margin: 30px 0 0 0;
  }

  span {
    flex: 1;
  }

  em {
    @include font("space mono");
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0;
    opacity: 0.75;
  }
}

.tags {
  display: none;

  @media (min-width: 576px) {
    display: flex;
    flex-wrap: wrap;
    margin: 7.5px 0 30px 0;
  }
}

.tag {
  background: $greyF0;
  border: 1px solid $greyD3;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0.3rem 0.3rem 0 0;
  padding: 0.1rem 0.3rem;
}
